<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="base::laypout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<h1>Hi i am Jatender Khatri umerkot</h1>
		<h1>Hi My Father name is Ghashyam Khatri Umerkot</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
			tenetur iure possimus quos ex eos doloremque vero. Molestias vero
			sint harum aliquam nihil sit similique ea nobis quod natus et dolor
			cupiditate autem veritatis a fuga porro ullam hic rerum vitae cumque
			minus dolore placeat! Fugit qui delectus quasi dolores.</p>
	</section>
</body>
</html>