<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Example</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
		<h1>This is the Jatender Khatri Umerkot</h1>
		<h1>I am from Umerkot</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
			quis praesentium assumenda repellendus aliquam natus sequi aspernatur
			nesciunt accusamus tempora! Eos eum voluptate amet quibusdam alias
			delectus minus sit ullam iure expedita. Esse optio perspiciatis velit
			quo deserunt numquam nam quasi magni minima est sequi aliquam nihil
			harum vero neque repellat amet culpa aliquid quidem ullam quae atque
			aut repellendus sapiente nostrum. Praesentium voluptates numquam
			nulla facere ad delectus voluptatum rem unde esse magnam recusandae
			natus distinctio dolor animi vitae voluptatem porro enim. Officia
			blanditiis recusandae in itaque eos veritatis sequi ipsa voluptates
			aliquid eligendi hic odit reiciendis placeat aliquam!</p>
			
			<img class="jatender" alt="" th:src="@{/image/jatender.jpg}">
	</div>
	
	<script type="text/javascript" th:src="@{/js/myjs.js}"></script>
</body>
</html>