<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Footer</title>
</head>
<body>
	<footer id="fragmentTag" th:fragment="footer1(title,subtitle)">

		<div>
			<h1 th:text="${title}"></h1>
			<h1 th:text = "${subtitle}"></h1>
			<h1>I am Jatender Khatri</h1>
			<h1>My Father name is Ghanshyam</h1>
			<h1>I am from Umerkot</h1>
			<p>Hi My Name is Jateder Kumar khatri umerkot and my Father name
				is ghanshyam das khatri umerkot</p>
		</div>
	</footer>
</body>
</html>