<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
	crossorigin="anonymous">
</head>
<body>
	<h1 class="text-center">Login Here</h1>

	<div class="container ">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form th:action= "@{/process}" method="post" th:object="${loginData}">
					<div class="mb-3">
						<label for="usernameID" class="form-label">Username
							</label>
							
							<input 
								type="text" 
								class="form-control"
								th:value="${loginData.username}"
								th:classappend="${#fields.hasErrors('username')? 'is-invalid':''}"
								id="usernameID" 
								aria-describedby="usernameHelp">
								<div th:each="e : ${#fields.errors('username')}" th:text="${e}" id="validationServer03Feedback" class="invalid-feedback">
    							</div>
								
					</div>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Password</label>
						<input 
							type="password" 
							class="form-control"
							th:value="${loginData.password}"
							id="exampleInputPassword1">
					</div>
					
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Check
							me out</label>
					</div>
					
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>